.cert {
  margin-bottom: 90px;
  
  h1 {
    margin: 0;
    font-size: 53px;
    font-weight: 800;
  }
}
.cert__wrap {
  height: 516px;
  padding-top: 200px;
  margin-bottom: 90px;
  background-image: url(../img/images/cert.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.cert__text {
  width: 421px;
  padding: 30px 20px;
  border-radius: 40px;
  background-color: rgb(247, 247, 247);
  
  p {
    margin: 0;
  }
}
.cert__info {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cert__title {
  margin-bottom: 75px;
  font-size: 24px;
  font-weight: 800;
}