.gift {
  margin-bottom: 140px;
}
.gift__subtitle {
  text-align: center;
}
.gift__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.gift__view {
  width: 560px;
  max-width: 100%;
}
.gift__info {
  width: 418px;
  max-width: 100%;
}